@import  './_partials/calculator', './_partials/header', './_partials/karma', './_partials/supervisor', './_partials/team-builder', './_partials/colors', './_partials/media', './_partials/boxes';

* {
    border: 0;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-lightgray;
    font-family: 'Poppins', sans-serif;
}