@media screen and (min-width: 760px) {
  .boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px 1px;
  grid-template-areas:
    ". team-builder ."
    "supervisor team-builder calculator"
    "supervisor karma calculator"
    ". karma .";
}
.supervisor {
   grid-area: supervisor;
  img {
    margin-left: 60%;
    padding-top: 10%;
  }
  }
.team-builder { grid-area: team-builder;
  img {
    margin-left: 60%;
    padding-top: 10%;
  }
 }
.karma { grid-area: karma;
  img {
    margin-left: 60%;
    padding-top: 10%;
  }
}
.calculator { grid-area: calculator;
img {
  margin-left: 60%;
  padding-top: 10%;
}
}
}

header {
  margin-top: 5%;
  text-align: center;
}
